default_job = "pedantic"

[jobs.pedantic]
command = [
  "cargo",
  "clippy",
  "--",
  "-D",
  "clippy::pedantic",
  "-D",
  "clippy::nursery",
]
need_stdout = false
[jobs.playback]
command = ["ffplay", "result/sine2.wav"]
need_stdout = true

